td {

    border: 1px solid #ddd;
    padding: 20px;


}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.navbar {
    margin-bottom: 5rem;
}

.reg-button{
    margin-bottom: 2rem;
}